<br />
<b>Deprecated</b>:  htmlspecialchars(): Passing null to parameter #1 ($string) of type string is deprecated in <b>/home/rupajasa/demo.themesoul.com/nyabiss/libraries/src/Document/Renderer/Feed/AtomRenderer.php</b> on line <b>89</b><br />
<?xml version="1.0" encoding="utf-8"?>
<!-- generator="Joomla! - Open Source Content Management" -->
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="en-gb">
	<title type="text">Home</title>
	<subtitle type="text"></subtitle>
	<link rel="alternate" type="text/html" href="https://demo.themesoul.com/"/>
	<id>https://demo.themesoul.com/nyabiss/index.php/component/tags/tag/brewing</id>
	<updated>2024-10-05T11:41:19+00:00</updated>
	<author>
		<name>Nyabis</name>
	</author>
	<generator uri="https://www.joomla.org/">Joomla! - Open Source Content Management</generator>
	<link rel="self" type="application/atom+xml" href="brewing7b17.html?format=feed&amp;type=atom"/>
	<entry>
		<title>Coffee Brewing Methods &amp; Their Differences</title>
		<link rel="alternate" type="text/html" href="../../../pages/21-coffee-brewing-methods-their-differences.html"/>
		<published>2020-08-17T17:11:26+00:00</published>
		<updated>2020-08-17T17:11:26+00:00</updated>
		<id>https://demo.themesoul.com/nyabiss/index.php/pages/21-coffee-brewing-methods-their-differences</id>
		<author>
			<name>Super User</name>
		</author>
		<summary type="html">&lt;p&gt;The first step of this assessment will be to collectively create an exhaustive list of processes needing analysis and all systems in use Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.&lt;/p&gt;
</summary>
		<content type="html">&lt;p&gt;The first step of this assessment will be to collectively create an exhaustive list of processes needing analysis and all systems in use Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.&lt;/p&gt;
</content>
		<category term="Coffee Brewing Methods &amp; Their Differences" />
	</entry>
	<entry>
		<title>Getting Started</title>
		<link rel="alternate" type="text/html" href="../../content/article/1-getting-started9297.html?catid=2&amp;Itemid=101"/>
		<published>2020-08-14T23:40:26+00:00</published>
		<updated>2020-08-14T23:40:26+00:00</updated>
		<id>https://demo.themesoul.com/nyabiss/index.php/component/content/article/1-getting-started?catid=2&amp;Itemid=101</id>
		<author>
			<name>Super User</name>
		</author>
		<summary type="html">&lt;p&gt;It's easy to get started creating your website. Knowing some of the basics will help.&lt;br /&gt;&lt;br /&gt;&lt;/p&gt;
&lt;h3&gt;What is a Content Management System?&lt;/h3&gt;
&lt;p&gt;A content management system is software that allows you to create and manage webpages easily by separating the creation of your content from the mechanics required to present it on the web.&lt;/p&gt;
&lt;p&gt;In this site, the content is stored in a &lt;em&gt;database&lt;/em&gt;. The look and feel are created by a &lt;em&gt;template&lt;/em&gt;. Joomla! brings together the template and your content to create web pages.&lt;br /&gt;&lt;br /&gt;&lt;/p&gt;
&lt;h3&gt;Logging in&lt;/h3&gt;
&lt;p&gt;To login to your site use the user name and password that were created as part of the installation process. Once logged-in you will be able to create and edit articles and modify some settings.&lt;br /&gt;&lt;br /&gt;&lt;/p&gt;
&lt;h3&gt;Creating an article&lt;/h3&gt;
&lt;p&gt;Once you are logged-in, a new menu will be visible. To create a new article, click on the &quot;Submit Article&quot; link on that menu.&lt;/p&gt;
&lt;p&gt;The new article interface gives you a lot of options, but all you need to do is add a title and put something in the content area. To make it easy to find, set the state to published.&lt;/p&gt;
&lt;div&gt;You can edit an existing article by clicking on the edit icon (this only displays to users who have the right to edit).&lt;br /&gt;&lt;br /&gt;&lt;/div&gt;
&lt;h3&gt;Template, site settings, and modules&lt;/h3&gt;
&lt;p&gt;The look and feel of your site is controlled by a template. You can change the site name, background colour, highlights colour and more by editing the template settings. Click the &quot;Template Settings&quot; in the user menu.&lt;/p&gt;
&lt;p&gt;The boxes around the main content of the site are called modules. You can modify modules on the current page by moving your cursor to the module and clicking the edit link. Always be sure to save and close any module you edit.&lt;/p&gt;
&lt;p&gt;You can change some site settings such as the site name and description by clicking on the &quot;Site Settings&quot; link.&lt;/p&gt;
&lt;p&gt;More advanced options for templates, site settings, modules, and more are available in the site administrator.&lt;br /&gt;&lt;br /&gt;&lt;/p&gt;
&lt;h3&gt;Site and Administrator&lt;/h3&gt;
&lt;p&gt;Your site actually has two separate sites. The site (also called the front end) is what visitors to your site will see. The administrator (also called the back end) is only used by people managing your site. You can access the administrator by clicking the &quot;Site Administrator&quot; link on the &quot;User Menu&quot; menu (visible once you login) or by adding /administrator to the end of your domain name. The same user name and password are used for both sites.&lt;br /&gt;&lt;br /&gt;&lt;/p&gt;
&lt;h3&gt;Learn more&lt;/h3&gt;
&lt;p&gt;There is much more to learn about how to use Joomla! to create the website you envision. You can learn much more at the &lt;a href=&quot;https://docs.joomla.org/&quot; target=&quot;_blank&quot; rel=&quot;noopener&quot;&gt;Joomla! documentation site&lt;/a&gt; and on the&lt;a href=&quot;https://forum.joomla.org/&quot; target=&quot;_blank&quot; rel=&quot;noopener&quot;&gt; Joomla! forums&lt;/a&gt;.&lt;/p&gt;</summary>
		<content type="html">&lt;p&gt;It's easy to get started creating your website. Knowing some of the basics will help.&lt;br /&gt;&lt;br /&gt;&lt;/p&gt;
&lt;h3&gt;What is a Content Management System?&lt;/h3&gt;
&lt;p&gt;A content management system is software that allows you to create and manage webpages easily by separating the creation of your content from the mechanics required to present it on the web.&lt;/p&gt;
&lt;p&gt;In this site, the content is stored in a &lt;em&gt;database&lt;/em&gt;. The look and feel are created by a &lt;em&gt;template&lt;/em&gt;. Joomla! brings together the template and your content to create web pages.&lt;br /&gt;&lt;br /&gt;&lt;/p&gt;
&lt;h3&gt;Logging in&lt;/h3&gt;
&lt;p&gt;To login to your site use the user name and password that were created as part of the installation process. Once logged-in you will be able to create and edit articles and modify some settings.&lt;br /&gt;&lt;br /&gt;&lt;/p&gt;
&lt;h3&gt;Creating an article&lt;/h3&gt;
&lt;p&gt;Once you are logged-in, a new menu will be visible. To create a new article, click on the &quot;Submit Article&quot; link on that menu.&lt;/p&gt;
&lt;p&gt;The new article interface gives you a lot of options, but all you need to do is add a title and put something in the content area. To make it easy to find, set the state to published.&lt;/p&gt;
&lt;div&gt;You can edit an existing article by clicking on the edit icon (this only displays to users who have the right to edit).&lt;br /&gt;&lt;br /&gt;&lt;/div&gt;
&lt;h3&gt;Template, site settings, and modules&lt;/h3&gt;
&lt;p&gt;The look and feel of your site is controlled by a template. You can change the site name, background colour, highlights colour and more by editing the template settings. Click the &quot;Template Settings&quot; in the user menu.&lt;/p&gt;
&lt;p&gt;The boxes around the main content of the site are called modules. You can modify modules on the current page by moving your cursor to the module and clicking the edit link. Always be sure to save and close any module you edit.&lt;/p&gt;
&lt;p&gt;You can change some site settings such as the site name and description by clicking on the &quot;Site Settings&quot; link.&lt;/p&gt;
&lt;p&gt;More advanced options for templates, site settings, modules, and more are available in the site administrator.&lt;br /&gt;&lt;br /&gt;&lt;/p&gt;
&lt;h3&gt;Site and Administrator&lt;/h3&gt;
&lt;p&gt;Your site actually has two separate sites. The site (also called the front end) is what visitors to your site will see. The administrator (also called the back end) is only used by people managing your site. You can access the administrator by clicking the &quot;Site Administrator&quot; link on the &quot;User Menu&quot; menu (visible once you login) or by adding /administrator to the end of your domain name. The same user name and password are used for both sites.&lt;br /&gt;&lt;br /&gt;&lt;/p&gt;
&lt;h3&gt;Learn more&lt;/h3&gt;
&lt;p&gt;There is much more to learn about how to use Joomla! to create the website you envision. You can learn much more at the &lt;a href=&quot;https://docs.joomla.org/&quot; target=&quot;_blank&quot; rel=&quot;noopener&quot;&gt;Joomla! documentation site&lt;/a&gt; and on the&lt;a href=&quot;https://forum.joomla.org/&quot; target=&quot;_blank&quot; rel=&quot;noopener&quot;&gt; Joomla! forums&lt;/a&gt;.&lt;/p&gt;</content>
		<category term="Getting Started" />
	</entry>
	<entry>
		<title>Top View of Our Barista Holding Cup of Coffee</title>
		<link rel="alternate" type="text/html" href="../../../pages/24-top-view-of-our-barista-holding-cup-of-coffee.html"/>
		<published>2020-08-17T17:54:09+00:00</published>
		<updated>2020-08-17T17:54:09+00:00</updated>
		<id>https://demo.themesoul.com/nyabiss/index.php/pages/24-top-view-of-our-barista-holding-cup-of-coffee</id>
		<author>
			<name>Super User</name>
		</author>
		<summary type="html">&lt;p&gt;The first coffee shop that I visited during my stay and I kept going back. The staff was so welcoming and the prices for coffee are amazing. There is Wifi and lovely seating. It is a great coffee shops to meet new people in, as well it is very central in Ubud. The coolest thing was the Latte art that surprised me when I ordered. There was a Pirate in my Latte. &lt;/p&gt;
</summary>
		<content type="html">&lt;p&gt;The first coffee shop that I visited during my stay and I kept going back. The staff was so welcoming and the prices for coffee are amazing. There is Wifi and lovely seating. It is a great coffee shops to meet new people in, as well it is very central in Ubud. The coolest thing was the Latte art that surprised me when I ordered. There was a Pirate in my Latte. &lt;/p&gt;
</content>
		<category term="Top View of Our Barista Holding Cup of Coffee" />
	</entry>
</feed>
