.sp-page-builder .page-content #section-id-1624875349289 {
    box-shadow: 0px 0px 0px 0px #ffffff;
}
.sp-page-builder .page-content #section-id-1624875349289 {
    padding-top: 140px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    border-radius: 0px;
}
@media (max-width: 1199.98px) {
    .sp-page-builder .page-content #section-id-1624875349289 {
        padding-top: 100px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }
}
@media (max-width: 991.98px) {
    .sp-page-builder .page-content #section-id-1624875349289 {
        padding-top: 40px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }
}
@media (max-width: 767.98px) {
    .sp-page-builder .page-content #section-id-1624875349289 {
        padding-top: 40px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }
}
@media (max-width: 575.98px) {
    .sp-page-builder .page-content #section-id-1624875349289 {
        padding-top: 30px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }
}
.sp-page-builder .page-content #section-id-1624875349289.sppb-row-overlay {
    border-radius: 0px;
}
#column-id-1624875349293 {
    border-radius: 0px;
}
#column-wrap-id-1624875349293 {
    max-width: 41.666666666667%;
    flex-basis: 41.666666666667%;
}
@media (max-width: 1199.98px) {
    #column-wrap-id-1624875349293 {
        max-width: 33.333333333333%;
        flex-basis: 33.333333333333%;
    }
}
@media (max-width: 991.98px) {
    #column-wrap-id-1624875349293 {
        max-width: 100%;
        flex-basis: 100%;
    }
}
@media (max-width: 767.98px) {
    #column-wrap-id-1624875349293 {
        max-width: 100%;
        flex-basis: 100%;
    }
}
@media (max-width: 575.98px) {
    #column-wrap-id-1624875349293 {
        max-width: 100%;
        flex-basis: 100%;
    }
}
#column-id-1624875349293 .sppb-column-overlay {
    border-radius: 0px;
}
#sppb-addon-1624875349305 {
    box-shadow: 0px 0px 0px 0px;
}
@media (max-width: 767.98px) {
    #sppb-addon-1624875349305 .sppb-addon-title {
        margin-bottom: 10px;
    }
}
@media (max-width: 575.98px) {
    #sppb-addon-1624875349305 .sppb-addon-title {
        margin-bottom: 10px;
    }
}
#sppb-addon-1624875349305 .sppb-addon-title {
    font-weight: 700;
    font-size: 20px;
}
@media (max-width: 1199.98px) {
    #sppb-addon-1624875349305 .sppb-addon-title {
        font-size: 20px;
    }
}
@media (max-width: 991.98px) {
    #sppb-addon-1624875349305 .sppb-addon-title {
        font-size: 14px;
    }
}
#sppb-addon-1624875349306 {
    box-shadow: 0px 0px 0px 0px;
}
#sppb-addon-wrapper-1624875349306 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 30px;
    margin-left: 0px;
}
@media (max-width: 1199.98px) {
    #sppb-addon-wrapper-1624875349306 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 30px;
        margin-left: 0px;
    }
}
@media (max-width: 991.98px) {
    #sppb-addon-wrapper-1624875349306 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 30px;
        margin-left: 0px;
    }
}
@media (max-width: 767.98px) {
    #sppb-addon-wrapper-1624875349306 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 20px;
        margin-left: 0px;
    }
}
@media (max-width: 575.98px) {
    #sppb-addon-wrapper-1624875349306 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 20px;
        margin-left: 0px;
    }
}
#sppb-addon-1624875349306 .sppb-addon-title {
    margin-top: 15px;
}
@media (max-width: 1199.98px) {
    #sppb-addon-1624875349306 .sppb-addon-title {
        margin-top: 15px;
    }
}
@media (max-width: 991.98px) {
    #sppb-addon-1624875349306 .sppb-addon-title {
        margin-top: 0px;
    }
}
@media (max-width: 767.98px) {
    #sppb-addon-1624875349306 .sppb-addon-title {
        margin-top: 0px;
    }
}
@media (max-width: 575.98px) {
    #sppb-addon-1624875349306 .sppb-addon-title {
        margin-top: 0px;
    }
}
#sppb-addon-1624875349306 .sppb-addon-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: 0px;
}
@media (max-width: 1199.98px) {
    #sppb-addon-1624875349306 .sppb-addon-title {
        font-size: 48px;
        line-height: 48px;
        letter-spacing: 0px;
    }
}
@media (max-width: 991.98px) {
    #sppb-addon-1624875349306 .sppb-addon-title {
        font-size: 36px;
        line-height: 48px;
        letter-spacing: 0px;
    }
}
@media (max-width: 767.98px) {
    #sppb-addon-1624875349306 .sppb-addon-title {
        font-size: 28px;
        line-height: 32px;
        letter-spacing: 0px;
    }
}
@media (max-width: 575.98px) {
    #sppb-addon-1624875349306 .sppb-addon-title {
        font-size: 30px;
        line-height: 36px;
        letter-spacing: 0px;
    }
}
#sppb-addon-1624875349306 .sppb-addon-text-block .sppb-addon-content {
    font-size: 18px;
}
@media (max-width: 1199.98px) {
    #sppb-addon-1624875349306 .sppb-addon-text-block .sppb-addon-content {
        font-size: 18px;
    }
}
@media (max-width: 991.98px) {
    #sppb-addon-1624875349306 .sppb-addon-text-block .sppb-addon-content {
        font-size: 18px;
    }
}
@media (max-width: 767.98px) {
    #sppb-addon-1624875349306 .sppb-addon-text-block .sppb-addon-content {
        font-size: 15px;
    }
}
@media (max-width: 575.98px) {
    #sppb-addon-1624875349306 .sppb-addon-text-block .sppb-addon-content {
        font-size: 15px;
    }
}
@media (max-width: 1199.98px) {
    #column-id-1624875349295 {
        border-radius: 0px;
    }
}
#column-wrap-id-1624875349295 {
    max-width: 58.333333333333%;
    flex-basis: 58.333333333333%;
}
@media (max-width: 1199.98px) {
    #column-wrap-id-1624875349295 {
        max-width: 66.666666666667%;
        flex-basis: 66.666666666667%;
    }
}
@media (max-width: 991.98px) {
    #column-wrap-id-1624875349295 {
        max-width: 100%;
        flex-basis: 100%;
    }
}
@media (max-width: 767.98px) {
    #column-wrap-id-1624875349295 {
        max-width: 100%;
        flex-basis: 100%;
    }
}
@media (max-width: 575.98px) {
    #column-wrap-id-1624875349295 {
        max-width: 100%;
        flex-basis: 100%;
    }
}
@media (max-width: 1199.98px) {
    #column-id-1624875349295 .sppb-column-overlay {
        border-radius: 0px;
    }
}
#sppb-addon-1624875349308 {
    box-shadow: 0px 0px 0px 0px;
}
#sppb-addon-wrapper-1624875349308 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 40px;
}
@media (max-width: 1199.98px) {
    #sppb-addon-wrapper-1624875349308 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 40px;
    }
}
@media (max-width: 991.98px) {
    #sppb-addon-wrapper-1624875349308 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}
@media (max-width: 767.98px) {
    #sppb-addon-wrapper-1624875349308 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 30px;
        margin-left: 0px;
    }
}
@media (max-width: 575.98px) {
    #sppb-addon-wrapper-1624875349308 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 30px;
        margin-left: 0px;
    }
}
@media (max-width: 767.98px) {
    #sppb-addon-1624875349308 .sppb-addon-text-block .sppb-addon-content {
        font-size: 15px;
    }
}
@media (max-width: 575.98px) {
    #sppb-addon-1624875349308 .sppb-addon-text-block .sppb-addon-content {
        font-size: 14px;
    }
}
#column-id-1624875349297 {
    border-radius: 0px;
}
#column-wrap-id-1624875349297 {
    max-width: 100%;
    flex-basis: 100%;
}
@media (max-width: 1199.98px) {
    #column-wrap-id-1624875349297 {
        max-width: 100%;
        flex-basis: 100%;
    }
}
@media (max-width: 991.98px) {
    #column-wrap-id-1624875349297 {
        max-width: 100%;
        flex-basis: 100%;
    }
}
@media (max-width: 767.98px) {
    #column-wrap-id-1624875349297 {
        max-width: 100%;
        flex-basis: 100%;
    }
}
@media (max-width: 575.98px) {
    #column-wrap-id-1624875349297 {
        max-width: 100%;
        flex-basis: 100%;
    }
}
#column-id-1624875349297 .sppb-column-overlay {
    border-radius: 0px;
}
#sppb-addon-1624875349318 {
    box-shadow: 0 0 0 0 #ffffff;
}
#sppb-addon-1624875349318 {
    border-radius: 0px;
}
#sppb-addon-1624875349318 .sppb-empty-space {
    height: 50px;
}
@media (max-width: 1199.98px) {
    #sppb-addon-1624875349318 .sppb-empty-space {
        height: 50px;
    }
}
@media (max-width: 991.98px) {
    #sppb-addon-1624875349318 .sppb-empty-space {
        height: 50px;
    }
}
@media (max-width: 767.98px) {
    #sppb-addon-1624875349318 .sppb-empty-space {
        height: 20px;
    }
}
@media (max-width: 575.98px) {
    #sppb-addon-1624875349318 .sppb-empty-space {
        height: 20px;
    }
}
#column-id-1624875349299 {
    border-radius: 0px;
}
#column-wrap-id-1624875349299 {
    max-width: 25%;
    flex-basis: 25%;
}
@media (max-width: 1199.98px) {
    #column-wrap-id-1624875349299 {
        max-width: 25%;
        flex-basis: 25%;
    }
}
@media (max-width: 991.98px) {
    #column-wrap-id-1624875349299 {
        max-width: 25%;
        flex-basis: 25%;
    }
}
@media (max-width: 767.98px) {
    #column-wrap-id-1624875349299 {
        max-width: 50%;
        flex-basis: 50%;
    }
}
@media (max-width: 575.98px) {
    #column-wrap-id-1624875349299 {
        max-width: 50%;
        flex-basis: 50%;
    }
}
#column-id-1624875349299 .sppb-column-overlay {
    border-radius: 0px;
}
#sppb-addon-1624875349294 {
    box-shadow: 0 0 0 0 #ffffff;
}
#sppb-addon-1624875349294 {
    border-radius: 0px;
}
#sppb-addon-wrapper-1624875349294 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
}
@media (max-width: 1199.98px) {
    #sppb-addon-wrapper-1624875349294 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 50px;
        margin-left: 0px;
    }
}
@media (max-width: 991.98px) {
    #sppb-addon-wrapper-1624875349294 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 50px;
        margin-left: 0px;
    }
}
@media (max-width: 767.98px) {
    #sppb-addon-wrapper-1624875349294 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 30px;
        margin-left: 0px;
    }
}
@media (max-width: 575.98px) {
    #sppb-addon-wrapper-1624875349294 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 30px;
        margin-left: 0px;
    }
}
#sppb-addon-1624875349294 .sppb-addon-title {
    margin-top: 20px;
    margin-bottom: 0px;
    color: #101010;
}
@media (max-width: 1199.98px) {
    #sppb-addon-1624875349294 .sppb-addon-title {
        margin-top: 20px;
        margin-bottom: 0px;
    }
}
@media (max-width: 991.98px) {
    #sppb-addon-1624875349294 .sppb-addon-title {
        margin-top: 20px;
        margin-bottom: 0px;
    }
}
#sppb-addon-1624875349294 .sppb-addon-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0px;
}
@media (max-width: 1199.98px) {
    #sppb-addon-1624875349294 .sppb-addon-title {
        font-size: 18px;
        line-height: 22px;
    }
}
@media (max-width: 991.98px) {
    #sppb-addon-1624875349294 .sppb-addon-title {
        font-size: 18px;
        line-height: 22px;
    }
}
@media (max-width: 767.98px) {
    #sppb-addon-1624875349294 .sppb-addon-title {
        font-size: 16px;
        line-height: 20px;
    }
}
@media (max-width: 575.98px) {
    #sppb-addon-1624875349294 .sppb-addon-title {
        font-size: 16px;
    }
}
#sppb-addon-1624875349294 .sppb-addon-text {
    text-transform: uppercase;
    letter-spacing: 1px;
}
#sppb-addon-1624875349294 .sppb-addon-text {
    font-size: 14px;
}
@media (max-width: 1199.98px) {
    #sppb-addon-1624875349294 .sppb-addon-text {
        font-size: 14px;
    }
}
@media (max-width: 991.98px) {
    #sppb-addon-1624875349294 .sppb-addon-text {
        font-size: 14px;
    }
}
#sppb-addon-1624875349294 .sppb-feature-box-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0px;
}
@media (max-width: 1199.98px) {
    #sppb-addon-1624875349294 .sppb-feature-box-title {
        font-size: 18px;
        line-height: 22px;
    }
}
@media (max-width: 991.98px) {
    #sppb-addon-1624875349294 .sppb-feature-box-title {
        font-size: 18px;
        line-height: 22px;
    }
}
@media (max-width: 767.98px) {
    #sppb-addon-1624875349294 .sppb-feature-box-title {
        font-size: 16px;
        line-height: 20px;
    }
}
@media (max-width: 575.98px) {
    #sppb-addon-1624875349294 .sppb-feature-box-title {
        font-size: 16px;
    }
}
#sppb-addon-1624875349294 .sppb-addon-content {
    text-align: center;
}
#sppb-addon-1624875349294 .sppb-feature-box-title,
#sppb-addon-1624875349294 .sppb-feature-box-title a {
    color: #101010;
}
#sppb-addon-1624875349294 {
    transition: 0.3s;
}
#sppb-addon-1624875349294:hover {
    box-shadow: 0 0 0 0 #ffffff;
}
#sppb-addon-1625156342057 {
    box-shadow: 0 0 0 0 #ffffff;
}
#sppb-addon-1625156342057 {
    border-radius: 0px;
}
#sppb-addon-wrapper-1625156342057 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
}
@media (max-width: 1199.98px) {
    #sppb-addon-wrapper-1625156342057 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 50px;
        margin-left: 0px;
    }
}
@media (max-width: 991.98px) {
    #sppb-addon-wrapper-1625156342057 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 50px;
        margin-left: 0px;
    }
}
#sppb-addon-1625156342057 .sppb-addon-title {
    margin-top: 20px;
    margin-bottom: 0px;
    color: #101010;
}
@media (max-width: 1199.98px) {
    #sppb-addon-1625156342057 .sppb-addon-title {
        margin-top: 20px;
        margin-bottom: 0px;
    }
}
@media (max-width: 991.98px) {
    #sppb-addon-1625156342057 .sppb-addon-title {
        margin-top: 20px;
        margin-bottom: 0px;
    }
}
#sppb-addon-1625156342057 .sppb-addon-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0px;
}
@media (max-width: 1199.98px) {
    #sppb-addon-1625156342057 .sppb-addon-title {
        font-size: 18px;
        line-height: 22px;
    }
}
@media (max-width: 991.98px) {
    #sppb-addon-1625156342057 .sppb-addon-title {
        font-size: 18px;
        line-height: 22px;
    }
}
@media (max-width: 767.98px) {
    #sppb-addon-1625156342057 .sppb-addon-title {
        font-size: 16px;
        line-height: 20px;
    }
}
@media (max-width: 575.98px) {
    #sppb-addon-1625156342057 .sppb-addon-title {
        font-size: 16px;
    }
}
#sppb-addon-1625156342057 .sppb-addon-text {
    text-transform: uppercase;
    letter-spacing: 1px;
}
#sppb-addon-1625156342057 .sppb-addon-text {
    font-size: 14px;
}
@media (max-width: 1199.98px) {
    #sppb-addon-1625156342057 .sppb-addon-text {
        font-size: 14px;
    }
}
@media (max-width: 991.98px) {
    #sppb-addon-1625156342057 .sppb-addon-text {
        font-size: 14px;
    }
}
#sppb-addon-1625156342057 .sppb-feature-box-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0px;
}
@media (max-width: 1199.98px) {
    #sppb-addon-1625156342057 .sppb-feature-box-title {
        font-size: 18px;
        line-height: 22px;
    }
}
@media (max-width: 991.98px) {
    #sppb-addon-1625156342057 .sppb-feature-box-title {
        font-size: 18px;
        line-height: 22px;
    }
}
@media (max-width: 767.98px) {
    #sppb-addon-1625156342057 .sppb-feature-box-title {
        font-size: 16px;
        line-height: 20px;
    }
}
@media (max-width: 575.98px) {
    #sppb-addon-1625156342057 .sppb-feature-box-title {
        font-size: 16px;
    }
}
#sppb-addon-1625156342057 .sppb-addon-content {
    text-align: center;
}
#sppb-addon-1625156342057 .sppb-feature-box-title,
#sppb-addon-1625156342057 .sppb-feature-box-title a {
    color: #101010;
}
#sppb-addon-1625156342057 {
    transition: 0.3s;
}
#sppb-addon-1625156342057:hover {
    box-shadow: 0 0 0 0 #ffffff;
}
#column-wrap-id-1624875349301 {
    max-width: 25%;
    flex-basis: 25%;
}
@media (max-width: 1199.98px) {
    #column-wrap-id-1624875349301 {
        max-width: 25%;
        flex-basis: 25%;
    }
}
@media (max-width: 991.98px) {
    #column-wrap-id-1624875349301 {
        max-width: 25%;
        flex-basis: 25%;
    }
}
@media (max-width: 767.98px) {
    #column-wrap-id-1624875349301 {
        max-width: 50%;
        flex-basis: 50%;
    }
}
@media (max-width: 575.98px) {
    #column-wrap-id-1624875349301 {
        max-width: 50%;
        flex-basis: 50%;
    }
}
#sppb-addon-1624875349296 {
    box-shadow: 0 0 0 0 #ffffff;
}
#sppb-addon-1624875349296 {
    border-radius: 0px;
}
#sppb-addon-wrapper-1624875349296 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
}
@media (max-width: 1199.98px) {
    #sppb-addon-wrapper-1624875349296 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 50px;
        margin-left: 0px;
    }
}
@media (max-width: 991.98px) {
    #sppb-addon-wrapper-1624875349296 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 50px;
        margin-left: 0px;
    }
}
@media (max-width: 767.98px) {
    #sppb-addon-wrapper-1624875349296 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 30px;
        margin-left: 0px;
    }
}
@media (max-width: 575.98px) {
    #sppb-addon-wrapper-1624875349296 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 30px;
        margin-left: 0px;
    }
}
#sppb-addon-1624875349296 .sppb-addon-title {
    margin-top: 20px;
    margin-bottom: 0px;
    color: #101010;
}
@media (max-width: 1199.98px) {
    #sppb-addon-1624875349296 .sppb-addon-title {
        margin-top: 20px;
        margin-bottom: 0px;
    }
}
@media (max-width: 991.98px) {
    #sppb-addon-1624875349296 .sppb-addon-title {
        margin-top: 20px;
        margin-bottom: 0px;
    }
}
#sppb-addon-1624875349296 .sppb-addon-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0px;
}
@media (max-width: 1199.98px) {
    #sppb-addon-1624875349296 .sppb-addon-title {
        font-size: 18px;
        line-height: 22px;
    }
}
@media (max-width: 991.98px) {
    #sppb-addon-1624875349296 .sppb-addon-title {
        font-size: 18px;
        line-height: 22px;
    }
}
@media (max-width: 767.98px) {
    #sppb-addon-1624875349296 .sppb-addon-title {
        font-size: 16px;
        line-height: 20px;
    }
}
@media (max-width: 575.98px) {
    #sppb-addon-1624875349296 .sppb-addon-title {
        font-size: 16px;
    }
}
#sppb-addon-1624875349296 .sppb-addon-text {
    text-transform: uppercase;
    letter-spacing: 1px;
}
#sppb-addon-1624875349296 .sppb-addon-text {
    font-size: 14px;
}
@media (max-width: 1199.98px) {
    #sppb-addon-1624875349296 .sppb-addon-text {
        font-size: 14px;
    }
}
@media (max-width: 991.98px) {
    #sppb-addon-1624875349296 .sppb-addon-text {
        font-size: 14px;
    }
}
#sppb-addon-1624875349296 .sppb-feature-box-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0px;
}
@media (max-width: 1199.98px) {
    #sppb-addon-1624875349296 .sppb-feature-box-title {
        font-size: 18px;
        line-height: 22px;
    }
}
@media (max-width: 991.98px) {
    #sppb-addon-1624875349296 .sppb-feature-box-title {
        font-size: 18px;
        line-height: 22px;
    }
}
@media (max-width: 767.98px) {
    #sppb-addon-1624875349296 .sppb-feature-box-title {
        font-size: 16px;
        line-height: 20px;
    }
}
@media (max-width: 575.98px) {
    #sppb-addon-1624875349296 .sppb-feature-box-title {
        font-size: 16px;
    }
}
#sppb-addon-1624875349296 .sppb-addon-content {
    text-align: center;
}
#sppb-addon-1624875349296 .sppb-feature-box-title,
#sppb-addon-1624875349296 .sppb-feature-box-title a {
    color: #101010;
}
#sppb-addon-1624875349296 {
    transition: 0.3s;
}
#sppb-addon-1624875349296:hover {
    box-shadow: 0 0 0 0 #ffffff;
}
#sppb-addon-1625156342060 {
    box-shadow: 0 0 0 0 #ffffff;
}
#sppb-addon-1625156342060 {
    border-radius: 0px;
}
#sppb-addon-wrapper-1625156342060 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
}
@media (max-width: 1199.98px) {
    #sppb-addon-wrapper-1625156342060 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 50px;
        margin-left: 0px;
    }
}
@media (max-width: 991.98px) {
    #sppb-addon-wrapper-1625156342060 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 50px;
        margin-left: 0px;
    }
}
#sppb-addon-1625156342060 .sppb-addon-title {
    margin-top: 20px;
    margin-bottom: 0px;
    color: #101010;
}
@media (max-width: 1199.98px) {
    #sppb-addon-1625156342060 .sppb-addon-title {
        margin-top: 20px;
        margin-bottom: 0px;
    }
}
@media (max-width: 991.98px) {
    #sppb-addon-1625156342060 .sppb-addon-title {
        margin-top: 20px;
        margin-bottom: 0px;
    }
}
#sppb-addon-1625156342060 .sppb-addon-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0px;
}
@media (max-width: 1199.98px) {
    #sppb-addon-1625156342060 .sppb-addon-title {
        font-size: 18px;
        line-height: 22px;
    }
}
@media (max-width: 991.98px) {
    #sppb-addon-1625156342060 .sppb-addon-title {
        font-size: 18px;
        line-height: 22px;
    }
}
@media (max-width: 767.98px) {
    #sppb-addon-1625156342060 .sppb-addon-title {
        font-size: 16px;
        line-height: 20px;
    }
}
@media (max-width: 575.98px) {
    #sppb-addon-1625156342060 .sppb-addon-title {
        font-size: 16px;
    }
}
#sppb-addon-1625156342060 .sppb-addon-text {
    text-transform: uppercase;
    letter-spacing: 1px;
}
#sppb-addon-1625156342060 .sppb-addon-text {
    font-size: 14px;
}
@media (max-width: 1199.98px) {
    #sppb-addon-1625156342060 .sppb-addon-text {
        font-size: 14px;
    }
}
@media (max-width: 991.98px) {
    #sppb-addon-1625156342060 .sppb-addon-text {
        font-size: 14px;
    }
}
#sppb-addon-1625156342060 .sppb-feature-box-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0px;
}
@media (max-width: 1199.98px) {
    #sppb-addon-1625156342060 .sppb-feature-box-title {
        font-size: 18px;
        line-height: 22px;
    }
}
@media (max-width: 991.98px) {
    #sppb-addon-1625156342060 .sppb-feature-box-title {
        font-size: 18px;
        line-height: 22px;
    }
}
@media (max-width: 767.98px) {
    #sppb-addon-1625156342060 .sppb-feature-box-title {
        font-size: 16px;
        line-height: 20px;
    }
}
@media (max-width: 575.98px) {
    #sppb-addon-1625156342060 .sppb-feature-box-title {
        font-size: 16px;
    }
}
#sppb-addon-1625156342060 .sppb-addon-content {
    text-align: center;
}
#sppb-addon-1625156342060 .sppb-feature-box-title,
#sppb-addon-1625156342060 .sppb-feature-box-title a {
    color: #101010;
}
#sppb-addon-1625156342060 {
    transition: 0.3s;
}
#sppb-addon-1625156342060:hover {
    box-shadow: 0 0 0 0 #ffffff;
}
#column-wrap-id-1624875349302 {
    max-width: 25%;
    flex-basis: 25%;
}
@media (max-width: 1199.98px) {
    #column-wrap-id-1624875349302 {
        max-width: 25%;
        flex-basis: 25%;
    }
}
@media (max-width: 991.98px) {
    #column-wrap-id-1624875349302 {
        max-width: 25%;
        flex-basis: 25%;
    }
}
@media (max-width: 767.98px) {
    #column-wrap-id-1624875349302 {
        max-width: 50%;
        flex-basis: 50%;
    }
}
@media (max-width: 575.98px) {
    #column-wrap-id-1624875349302 {
        max-width: 50%;
        flex-basis: 50%;
    }
}
#sppb-addon-1624875349298 {
    box-shadow: 0 0 0 0 #ffffff;
}
#sppb-addon-1624875349298 {
    border-radius: 0px;
}
#sppb-addon-wrapper-1624875349298 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
}
@media (max-width: 1199.98px) {
    #sppb-addon-wrapper-1624875349298 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 50px;
        margin-left: 0px;
    }
}
@media (max-width: 991.98px) {
    #sppb-addon-wrapper-1624875349298 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 50px;
        margin-left: 0px;
    }
}
#sppb-addon-1624875349298 .sppb-addon-title {
    margin-top: 20px;
    margin-bottom: 0px;
    color: #101010;
}
@media (max-width: 1199.98px) {
    #sppb-addon-1624875349298 .sppb-addon-title {
        margin-top: 20px;
        margin-bottom: 0px;
    }
}
@media (max-width: 991.98px) {
    #sppb-addon-1624875349298 .sppb-addon-title {
        margin-top: 20px;
        margin-bottom: 0px;
    }
}
#sppb-addon-1624875349298 .sppb-addon-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0px;
}
@media (max-width: 1199.98px) {
    #sppb-addon-1624875349298 .sppb-addon-title {
        font-size: 18px;
        line-height: 22px;
    }
}
@media (max-width: 991.98px) {
    #sppb-addon-1624875349298 .sppb-addon-title {
        font-size: 18px;
        line-height: 22px;
    }
}
@media (max-width: 767.98px) {
    #sppb-addon-1624875349298 .sppb-addon-title {
        font-size: 16px;
        line-height: 20px;
    }
}
@media (max-width: 575.98px) {
    #sppb-addon-1624875349298 .sppb-addon-title {
        font-size: 16px;
    }
}
#sppb-addon-1624875349298 .sppb-addon-text {
    text-transform: uppercase;
    letter-spacing: 1px;
}
#sppb-addon-1624875349298 .sppb-addon-text {
    font-size: 14px;
}
@media (max-width: 1199.98px) {
    #sppb-addon-1624875349298 .sppb-addon-text {
        font-size: 14px;
    }
}
@media (max-width: 991.98px) {
    #sppb-addon-1624875349298 .sppb-addon-text {
        font-size: 14px;
    }
}
#sppb-addon-1624875349298 .sppb-feature-box-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0px;
}
@media (max-width: 1199.98px) {
    #sppb-addon-1624875349298 .sppb-feature-box-title {
        font-size: 18px;
        line-height: 22px;
    }
}
@media (max-width: 991.98px) {
    #sppb-addon-1624875349298 .sppb-feature-box-title {
        font-size: 18px;
        line-height: 22px;
    }
}
@media (max-width: 767.98px) {
    #sppb-addon-1624875349298 .sppb-feature-box-title {
        font-size: 16px;
        line-height: 20px;
    }
}
@media (max-width: 575.98px) {
    #sppb-addon-1624875349298 .sppb-feature-box-title {
        font-size: 16px;
    }
}
#sppb-addon-1624875349298 .sppb-addon-content {
    text-align: center;
}
#sppb-addon-1624875349298 .sppb-feature-box-title,
#sppb-addon-1624875349298 .sppb-feature-box-title a {
    color: #101010;
}
#sppb-addon-1624875349298 {
    transition: 0.3s;
}
#sppb-addon-1624875349298:hover {
    box-shadow: 0 0 0 0 #ffffff;
}
#sppb-addon-1625156342051 {
    box-shadow: 0 0 0 0 #ffffff;
}
#sppb-addon-1625156342051 {
    border-radius: 0px;
}
@media (max-width: 767.98px) {
    #sppb-addon-wrapper-1625156342051 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 30px;
        margin-left: 0px;
    }
}
@media (max-width: 575.98px) {
    #sppb-addon-wrapper-1625156342051 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 30px;
        margin-left: 0px;
    }
}
#sppb-addon-1625156342051 .sppb-addon-title {
    margin-top: 20px;
    margin-bottom: 0px;
    color: #101010;
}
@media (max-width: 1199.98px) {
    #sppb-addon-1625156342051 .sppb-addon-title {
        margin-top: 20px;
        margin-bottom: 0px;
    }
}
@media (max-width: 991.98px) {
    #sppb-addon-1625156342051 .sppb-addon-title {
        margin-top: 20px;
        margin-bottom: 0px;
    }
}
#sppb-addon-1625156342051 .sppb-addon-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0px;
}
@media (max-width: 1199.98px) {
    #sppb-addon-1625156342051 .sppb-addon-title {
        font-size: 18px;
        line-height: 22px;
    }
}
@media (max-width: 991.98px) {
    #sppb-addon-1625156342051 .sppb-addon-title {
        font-size: 18px;
        line-height: 22px;
    }
}
@media (max-width: 767.98px) {
    #sppb-addon-1625156342051 .sppb-addon-title {
        font-size: 16px;
        line-height: 20px;
    }
}
@media (max-width: 575.98px) {
    #sppb-addon-1625156342051 .sppb-addon-title {
        font-size: 16px;
    }
}
#sppb-addon-1625156342051 .sppb-addon-text {
    text-transform: uppercase;
    letter-spacing: 1px;
}
#sppb-addon-1625156342051 .sppb-addon-text {
    font-size: 14px;
}
@media (max-width: 1199.98px) {
    #sppb-addon-1625156342051 .sppb-addon-text {
        font-size: 14px;
    }
}
@media (max-width: 991.98px) {
    #sppb-addon-1625156342051 .sppb-addon-text {
        font-size: 14px;
    }
}
#sppb-addon-1625156342051 .sppb-feature-box-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0px;
}
@media (max-width: 1199.98px) {
    #sppb-addon-1625156342051 .sppb-feature-box-title {
        font-size: 18px;
        line-height: 22px;
    }
}
@media (max-width: 991.98px) {
    #sppb-addon-1625156342051 .sppb-feature-box-title {
        font-size: 18px;
        line-height: 22px;
    }
}
@media (max-width: 767.98px) {
    #sppb-addon-1625156342051 .sppb-feature-box-title {
        font-size: 16px;
        line-height: 20px;
    }
}
@media (max-width: 575.98px) {
    #sppb-addon-1625156342051 .sppb-feature-box-title {
        font-size: 16px;
    }
}
#sppb-addon-1625156342051 .sppb-addon-content {
    text-align: center;
}
#sppb-addon-1625156342051 .sppb-feature-box-title,
#sppb-addon-1625156342051 .sppb-feature-box-title a {
    color: #101010;
}
#sppb-addon-1625156342051 {
    transition: 0.3s;
}
#sppb-addon-1625156342051:hover {
    box-shadow: 0 0 0 0 #ffffff;
}
#column-wrap-id-1624875349315 {
    max-width: 25%;
    flex-basis: 25%;
}
@media (max-width: 1199.98px) {
    #column-wrap-id-1624875349315 {
        max-width: 25%;
        flex-basis: 25%;
    }
}
@media (max-width: 991.98px) {
    #column-wrap-id-1624875349315 {
        max-width: 25%;
        flex-basis: 25%;
    }
}
@media (max-width: 767.98px) {
    #column-wrap-id-1624875349315 {
        max-width: 50%;
        flex-basis: 50%;
    }
}
@media (max-width: 575.98px) {
    #column-wrap-id-1624875349315 {
        max-width: 50%;
        flex-basis: 50%;
    }
}
#sppb-addon-1624875349300 {
    box-shadow: 0 0 0 0 #ffffff;
}
#sppb-addon-1624875349300 {
    border-radius: 0px;
}
#sppb-addon-wrapper-1624875349300 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
}
@media (max-width: 1199.98px) {
    #sppb-addon-wrapper-1624875349300 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 50px;
        margin-left: 0px;
    }
}
@media (max-width: 991.98px) {
    #sppb-addon-wrapper-1624875349300 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 50px;
        margin-left: 0px;
    }
}
#sppb-addon-1624875349300 .sppb-addon-title {
    margin-top: 20px;
    margin-bottom: 0px;
    color: #101010;
}
@media (max-width: 1199.98px) {
    #sppb-addon-1624875349300 .sppb-addon-title {
        margin-top: 20px;
        margin-bottom: 0px;
    }
}
@media (max-width: 991.98px) {
    #sppb-addon-1624875349300 .sppb-addon-title {
        margin-top: 20px;
        margin-bottom: 0px;
    }
}
#sppb-addon-1624875349300 .sppb-addon-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0px;
}
@media (max-width: 1199.98px) {
    #sppb-addon-1624875349300 .sppb-addon-title {
        font-size: 18px;
        line-height: 22px;
    }
}
@media (max-width: 991.98px) {
    #sppb-addon-1624875349300 .sppb-addon-title {
        font-size: 18px;
        line-height: 22px;
    }
}
@media (max-width: 767.98px) {
    #sppb-addon-1624875349300 .sppb-addon-title {
        font-size: 16px;
        line-height: 20px;
    }
}
@media (max-width: 575.98px) {
    #sppb-addon-1624875349300 .sppb-addon-title {
        font-size: 16px;
    }
}
#sppb-addon-1624875349300 .sppb-addon-text {
    text-transform: uppercase;
    letter-spacing: 1px;
}
#sppb-addon-1624875349300 .sppb-addon-text {
    font-size: 14px;
}
@media (max-width: 1199.98px) {
    #sppb-addon-1624875349300 .sppb-addon-text {
        font-size: 14px;
    }
}
@media (max-width: 991.98px) {
    #sppb-addon-1624875349300 .sppb-addon-text {
        font-size: 14px;
    }
}
#sppb-addon-1624875349300 .sppb-feature-box-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0px;
}
@media (max-width: 1199.98px) {
    #sppb-addon-1624875349300 .sppb-feature-box-title {
        font-size: 18px;
        line-height: 22px;
    }
}
@media (max-width: 991.98px) {
    #sppb-addon-1624875349300 .sppb-feature-box-title {
        font-size: 18px;
        line-height: 22px;
    }
}
@media (max-width: 767.98px) {
    #sppb-addon-1624875349300 .sppb-feature-box-title {
        font-size: 16px;
        line-height: 20px;
    }
}
@media (max-width: 575.98px) {
    #sppb-addon-1624875349300 .sppb-feature-box-title {
        font-size: 16px;
    }
}
#sppb-addon-1624875349300 .sppb-addon-content {
    text-align: center;
}
#sppb-addon-1624875349300 .sppb-feature-box-title,
#sppb-addon-1624875349300 .sppb-feature-box-title a {
    color: #101010;
}
#sppb-addon-1624875349300 {
    transition: 0.3s;
}
#sppb-addon-1624875349300:hover {
    box-shadow: 0 0 0 0 #ffffff;
}
#sppb-addon-1625156342054 {
    box-shadow: 0 0 0 0 #ffffff;
}
#sppb-addon-1625156342054 {
    border-radius: 0px;
}
@media (max-width: 767.98px) {
    #sppb-addon-wrapper-1625156342054 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 30px;
        margin-left: 0px;
    }
}
@media (max-width: 575.98px) {
    #sppb-addon-wrapper-1625156342054 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 30px;
        margin-left: 0px;
    }
}
#sppb-addon-1625156342054 .sppb-addon-title {
    margin-top: 20px;
    margin-bottom: 0px;
    color: #101010;
}
@media (max-width: 1199.98px) {
    #sppb-addon-1625156342054 .sppb-addon-title {
        margin-top: 20px;
        margin-bottom: 0px;
    }
}
@media (max-width: 991.98px) {
    #sppb-addon-1625156342054 .sppb-addon-title {
        margin-top: 20px;
        margin-bottom: 0px;
    }
}
#sppb-addon-1625156342054 .sppb-addon-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0px;
}
@media (max-width: 1199.98px) {
    #sppb-addon-1625156342054 .sppb-addon-title {
        font-size: 18px;
        line-height: 22px;
    }
}
@media (max-width: 991.98px) {
    #sppb-addon-1625156342054 .sppb-addon-title {
        font-size: 18px;
        line-height: 22px;
    }
}
@media (max-width: 767.98px) {
    #sppb-addon-1625156342054 .sppb-addon-title {
        font-size: 16px;
        line-height: 20px;
    }
}
@media (max-width: 575.98px) {
    #sppb-addon-1625156342054 .sppb-addon-title {
        font-size: 16px;
    }
}
#sppb-addon-1625156342054 .sppb-addon-text {
    text-transform: uppercase;
    letter-spacing: 1px;
}
#sppb-addon-1625156342054 .sppb-addon-text {
    font-size: 14px;
}
@media (max-width: 1199.98px) {
    #sppb-addon-1625156342054 .sppb-addon-text {
        font-size: 14px;
    }
}
@media (max-width: 991.98px) {
    #sppb-addon-1625156342054 .sppb-addon-text {
        font-size: 14px;
    }
}
#sppb-addon-1625156342054 .sppb-feature-box-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0px;
}
@media (max-width: 1199.98px) {
    #sppb-addon-1625156342054 .sppb-feature-box-title {
        font-size: 18px;
        line-height: 22px;
    }
}
@media (max-width: 991.98px) {
    #sppb-addon-1625156342054 .sppb-feature-box-title {
        font-size: 18px;
        line-height: 22px;
    }
}
@media (max-width: 767.98px) {
    #sppb-addon-1625156342054 .sppb-feature-box-title {
        font-size: 16px;
        line-height: 20px;
    }
}
@media (max-width: 575.98px) {
    #sppb-addon-1625156342054 .sppb-feature-box-title {
        font-size: 16px;
    }
}
#sppb-addon-1625156342054 .sppb-addon-content {
    text-align: center;
}
#sppb-addon-1625156342054 .sppb-feature-box-title,
#sppb-addon-1625156342054 .sppb-feature-box-title a {
    color: #101010;
}
#sppb-addon-1625156342054 {
    transition: 0.3s;
}
#sppb-addon-1625156342054:hover {
    box-shadow: 0 0 0 0 #ffffff;
}
.sp-page-builder .page-content #section-id-1624875349324 {
    background-color: #e3e4e8;
    box-shadow: 0px 0px 0px 0px #ffffff;
}
.sp-page-builder .page-content #section-id-1624875349324 {
    padding-top: 100px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-top: 80px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    border-radius: 0px;
}
@media (max-width: 1199.98px) {
    .sp-page-builder .page-content #section-id-1624875349324 {
        padding-top: 160px;
        padding-right: 0px;
        padding-bottom: 180px;
        padding-left: 0px;
        margin-top: 80px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}
@media (max-width: 991.98px) {
    .sp-page-builder .page-content #section-id-1624875349324 {
        padding-top: 160px;
        padding-right: 0px;
        padding-bottom: 180px;
        padding-left: 0px;
        margin-top: 80px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}
@media (max-width: 767.98px) {
    .sp-page-builder .page-content #section-id-1624875349324 {
        padding-top: 70px;
        padding-right: 0px;
        padding-bottom: 80px;
        padding-left: 0px;
        margin-top: 60px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}
@media (max-width: 575.98px) {
    .sp-page-builder .page-content #section-id-1624875349324 {
        padding-top: 70px;
        padding-right: 0px;
        padding-bottom: 80px;
        padding-left: 0px;
        margin-top: 60px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}
.sp-page-builder .page-content #section-id-1624875349324.sppb-row-overlay {
    border-radius: 0px;
}
#column-id-1624875349323 {
    border-radius: 0px;
}
#column-wrap-id-1624875349323 {
    max-width: 50%;
    flex-basis: 50%;
}
@media (max-width: 1199.98px) {
    #column-wrap-id-1624875349323 {
        max-width: 50%;
        flex-basis: 50%;
    }
}
@media (max-width: 991.98px) {
    #column-wrap-id-1624875349323 {
        max-width: 100%;
        flex-basis: 100%;
    }
}
@media (max-width: 767.98px) {
    #column-wrap-id-1624875349323 {
        max-width: 100%;
        flex-basis: 100%;
    }
}
@media (max-width: 575.98px) {
    #column-wrap-id-1624875349323 {
        max-width: 100%;
        flex-basis: 100%;
    }
}
#column-id-1624875349323 .sppb-column-overlay {
    border-radius: 0px;
}
#sppb-addon-1624875349327 .sppb-addon-title {
    margin-bottom: 20px;
}
@media (max-width: 1199.98px) {
    #sppb-addon-1624875349327 .sppb-addon-title {
        margin-bottom: 20px;
    }
}
@media (max-width: 991.98px) {
    #sppb-addon-1624875349327 .sppb-addon-title {
        margin-bottom: 20px;
    }
}
@media (max-width: 767.98px) {
    #sppb-addon-1624875349327 .sppb-addon-title {
        margin-bottom: 10px;
    }
}
@media (max-width: 575.98px) {
    #sppb-addon-1624875349327 .sppb-addon-title {
        margin-bottom: 10px;
    }
}
#sppb-addon-1624875349327 .sppb-addon-title {
    font-weight: 700;
    font-size: 20px;
}
@media (max-width: 1199.98px) {
    #sppb-addon-1624875349327 .sppb-addon-title {
        font-size: 20px;
    }
}
@media (max-width: 991.98px) {
    #sppb-addon-1624875349327 .sppb-addon-title {
        font-size: 16px;
    }
}
#sppb-addon-1624875349327 .sppb-addon-text-block {
    text-align: left;
}
@media (max-width: 1199.98px) {
    #sppb-addon-1624875349327 .sppb-addon-text-block {
        text-align: center;
    }
}
@media (max-width: 991.98px) {
    #sppb-addon-1624875349327 .sppb-addon-text-block {
        text-align: center;
    }
}
#sppb-addon-wrapper-1624875349330 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 30px;
    margin-left: 0px;
}
@media (max-width: 1199.98px) {
    #sppb-addon-wrapper-1624875349330 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 30px;
        margin-left: 0px;
    }
}
@media (max-width: 991.98px) {
    #sppb-addon-wrapper-1624875349330 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 30px;
        margin-left: 0px;
    }
}
@media (max-width: 767.98px) {
    #sppb-addon-wrapper-1624875349330 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 20px;
        margin-left: 0px;
    }
}
@media (max-width: 575.98px) {
    #sppb-addon-wrapper-1624875349330 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 20px;
        margin-left: 0px;
    }
}
#sppb-addon-1624875349330 .sppb-addon-title {
    margin-top: 30px;
}
@media (max-width: 1199.98px) {
    #sppb-addon-1624875349330 .sppb-addon-title {
        margin-top: 30px;
    }
}
@media (max-width: 991.98px) {
    #sppb-addon-1624875349330 .sppb-addon-title {
        margin-top: 30px;
    }
}
@media (max-width: 767.98px) {
    #sppb-addon-1624875349330 .sppb-addon-title {
        margin-top: 0px;
    }
}
@media (max-width: 575.98px) {
    #sppb-addon-1624875349330 .sppb-addon-title {
        margin-top: 0px;
    }
}
#sppb-addon-1624875349330 .sppb-addon-title {
    font-weight: 700;
    font-size: 42px;
    line-height: 52px;
    letter-spacing: 0px;
}
@media (max-width: 1199.98px) {
    #sppb-addon-1624875349330 .sppb-addon-title {
        font-size: 42px;
        line-height: 52px;
    }
}
@media (max-width: 991.98px) {
    #sppb-addon-1624875349330 .sppb-addon-title {
        font-size: 42px;
        line-height: 52px;
    }
}
@media (max-width: 767.98px) {
    #sppb-addon-1624875349330 .sppb-addon-title {
        font-size: 24px;
        line-height: 32px;
    }
}
@media (max-width: 575.98px) {
    #sppb-addon-1624875349330 .sppb-addon-title {
        font-size: 24px;
        line-height: 32px;
    }
}
#sppb-addon-1624875349330 .sppb-addon-text-block {
    text-align: left;
}
@media (max-width: 1199.98px) {
    #sppb-addon-1624875349330 .sppb-addon-text-block {
        text-align: center;
    }
}
@media (max-width: 991.98px) {
    #sppb-addon-1624875349330 .sppb-addon-text-block {
        text-align: center;
    }
}
#sppb-addon-1624875349330 .sppb-addon-text-block .sppb-addon-content {
    font-size: 18px;
}
@media (max-width: 1199.98px) {
    #sppb-addon-1624875349330 .sppb-addon-text-block .sppb-addon-content {
        font-size: 18px;
    }
}
@media (max-width: 991.98px) {
    #sppb-addon-1624875349330 .sppb-addon-text-block .sppb-addon-content {
        font-size: 18px;
    }
}
@media (max-width: 767.98px) {
    #sppb-addon-1624875349330 .sppb-addon-text-block .sppb-addon-content {
        font-size: 15px;
    }
}
@media (max-width: 575.98px) {
    #sppb-addon-1624875349330 .sppb-addon-text-block .sppb-addon-content {
        font-size: 15px;
    }
}
#sppb-addon-1624875349368 {
    box-shadow: 0px 0px 0px 0px;
}
#sppb-addon-wrapper-1624875349368 {
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}
@media (max-width: 1199.98px) {
    #sppb-addon-wrapper-1624875349368 {
        margin-top: 0px;
        margin-right: auto;
        margin-bottom: 0px;
        margin-left: auto;
    }
}
@media (max-width: 991.98px) {
    #sppb-addon-wrapper-1624875349368 {
        margin-top: 0px;
        margin-right: auto;
        margin-bottom: 0px;
        margin-left: auto;
    }
}
#sppb-addon-1624875349368 .sppb-addon-text-block {
    text-align: left;
}
@media (max-width: 1199.98px) {
    #sppb-addon-1624875349368 .sppb-addon-text-block {
        text-align: center;
    }
}
@media (max-width: 991.98px) {
    #sppb-addon-1624875349368 .sppb-addon-text-block {
        text-align: center;
    }
}
#sppb-addon-1624875349337 {
    border-radius: 0px;
}
#sppb-addon-wrapper-1624875349337 {
    margin-top: 40px;
    margin-right: 0px;
    margin-bottom: 60px;
    margin-left: 0px;
}
@media (max-width: 1199.98px) {
    #sppb-addon-wrapper-1624875349337 {
        margin-top: 45px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}
@media (max-width: 991.98px) {
    #sppb-addon-wrapper-1624875349337 {
        margin-top: 45px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}
@media (max-width: 767.98px) {
    #sppb-addon-wrapper-1624875349337 {
        margin-top: 30px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}
@media (max-width: 575.98px) {
    #sppb-addon-wrapper-1624875349337 {
        margin-top: 30px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}
#sppb-addon-1624875349337 #btn-1624875349337.sppb-btn-primary {
    font-size: 16px;
    letter-spacing: 0px;
}
@media (max-width: 1199.98px) {
    #sppb-addon-1624875349337 #btn-1624875349337.sppb-btn-primary {
        font-size: 16px;
    }
}
@media (max-width: 991.98px) {
    #sppb-addon-1624875349337 #btn-1624875349337.sppb-btn-primary {
        font-size: 16px;
    }
}
#sppb-addon-1624875349337 .sppb-btn i {
    margin-top: 0px;
    margin-right: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
}
@media (max-width: 1199.98px) {
    #sppb-addon-1624875349337 .sppb-btn i {
        margin-top: 0px;
        margin-right: 20px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}
@media (max-width: 991.98px) {
    #sppb-addon-1624875349337 .sppb-btn i {
        margin-top: 0px;
        margin-right: 20px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}
#sppb-addon-1624875349337 .sppb-button-wrapper {
    text-align: left;
}
@media (max-width: 1199.98px) {
    #sppb-addon-1624875349337 .sppb-button-wrapper {
        text-align: center;
    }
}
@media (max-width: 991.98px) {
    #sppb-addon-1624875349337 .sppb-button-wrapper {
        text-align: center;
    }
}
#column-wrap-id-1666752741396 {
    max-width: 50%;
    flex-basis: 50%;
}
@media (max-width: 1199.98px) {
    #column-wrap-id-1666752741396 {
        max-width: 50%;
        flex-basis: 50%;
    }
}
@media (max-width: 991.98px) {
    #column-wrap-id-1666752741396 {
        max-width: 100%;
        flex-basis: 100%;
    }
}
@media (max-width: 767.98px) {
    #column-wrap-id-1666752741396 {
        max-width: 100%;
        flex-basis: 100%;
    }
}
@media (max-width: 575.98px) {
    #column-wrap-id-1666752741396 {
        max-width: 100%;
        flex-basis: 100%;
    }
}
#sppb-addon-wrapper-1666752966570 {
    margin-top: 0px;
    margin-right: -100px;
    margin-bottom: 0px;
    margin-left: 0px;
}
#sppb-addon-1666752966570 img {
    border-radius: 0px;
}


@media (min-width: 1400px) {
    .sppb-row-container {
        max-width: 1320px;
    }
}



/*
* Popup
*/

.popupOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 10000000;
    padding-top: 50px;
}
.popupContent {
    overflow: auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 60rem;
    width: 100%;
    height: 500px;
    text-align: center;
    position: relative;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.popupContent span{
    font-size: 13px;
    color: #6e6e6e;
}

.closeButton {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #ff4a56;
}

.popupImage {
    /* width: 50%; */
    height: 400px;
    object-fit: top;
    border-radius: 8px;
    margin-bottom: 15px;
    object-fit: cover;
}

.popupContent h3 {
    margin: 10px 0;
    font-size: 1.8rem;
}

.popupContent p {
    font-size: 1.2rem;
    width: 100%;
    color: #6e6e6e;
    margin-bottom: 0;
}

/* ----------------------------- */

.entire-card{
    width: 95%;
    height: 320px;
    z-index: 10000000000;
    position: absolute;
    right: 5px;
}

.members{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5rem;
}

.members .member-card{
    height: 350px;
    border-radius: 20px;
    background-color: var(--main-green-color);
    margin: 10px;
    padding: 10px;
    position: relative;
}

.description{
    display: none;
}

.members .card-m .member-card .sppb-img-container img{
    height: 250px;
    width: 250px;
    object-fit: cover;
    border-radius: 20px;
}

